ExchangeDataClient/Connected Services/MessageTextService/ExchangeMessageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExchangeData.DAL.ExchangeDataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExchangeData.DAL.ExchangeDataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SendTextModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageHeading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendTextModel" nillable="true" type="tns:SendTextModel" />
  <xs:complexType name="ArrayOfSendTextModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendTextModel" nillable="true" type="tns:SendTextModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendTextModel" nillable="true" type="tns:ArrayOfSendTextModel" />
</xs:schema>