ExchangeDataClient/Connected Services/MessageTextService/ExchangeMessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61100/ExchangeMessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExchangeData.DAL.ExchangeDataModel" />
  <xs:element name="GetBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExchangeData.DAL.ExchangeDataModel" minOccurs="0" name="GetByResult" nillable="true" type="q1:SendTextModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExchangeData.DAL.ExchangeDataModel" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfSendTextModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExchangeData.DAL.ExchangeDataModel" minOccurs="0" name="message" nillable="true" type="q3:SendTextModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>